<!-- possible todo: use controller, view! -->
<div class="jumbo">
  <div class="right"></div>
  <h2>{{pluralize model.meta.count "GeoKret"}}</h2>
  <!-- component to show data -->
  {{#each model.data as |geokret|}}
	{{geokret-list gk=geokret}}
  {{/each}}
</div>